# Target files
out/*

# Backup files
*~

# GYP checkout
build/gyp/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Python files
*.pyc

# Visual Studio files
*.vcxproj
*.vcxproj.user
*.sdf
*.suo
*.sln
*.opensdf
build/Debug/*
build/Release*
build/ipch/*
src/Debug/*
src/Release/*

# Currently used during development
tokens.txt